body {
  background-color: #808080;
}

.row {
  padding: 0rem;
  background-color: #808080;
  align-content: space-between;
}

.moodBtn {
  margin: 2px; 
  float: left; 
  cursor: pointer;
} 
.btn-neutral {
  color: black;
  background-color: lightgray;
  border-color: green;
  border-width: 0.1rem;
  border-radius: 1rem;
  width: 5.5rem;
}
.stretched-link{
  color: darkblue;
}

.textMutedChange{
  color: #333333;
  font-size: 14px;
  font-style: italic;
}

.btn-relax {
  color: black;
  background-color: lightgray;
  border-color: blue; 
  border-width: 0.1rem;
  border-radius: 1rem;
  width: 5.5rem;
}


.btn-energetic {
  color: black;
  background-color: lightgray;
  border-color: red;
  border-width: 0.1rem;
  border-radius: 1rem;
  width: 5.5rem;
}


.navbar {
  margin-bottom: 0;
  background-color: #808080;
  color: #260703;
}

.textInfo{
  color: darkgreen;
}

.resultBox{
  padding-top: 0.2rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.resultBoxContent{
  padding: 0.5rem!important;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.boxTitle {
  display: inline-block;
  color: black;
  font-size: 30px;
  padding-top: 20px;
  margin-left: 0;
}
.jumbotron {
  padding-top: 40px;
  padding-bottom: 130px;
  padding-left: 10px;
  padding-right: 90px;
  margin-bottom: 0;
  background-color: darkslategray; /*backup*/
  color: white;
  border-radius: 0;
  background-image: url("https://images.unsplash.com/photo-1527224538127-2104bb71c51b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80");
  background-size: cover;
}

.jumbotron-heading {
  font-weight: 400;
  font-size: 120%;
  text-align: left;
  margin-left:10%;
}  
.jumbotron-description{
  font-weight: 100;
  font-size: 12px;
  text-align: right;
}

.container-fluid{
  margin-top: 0.1rem;
}

.jumbotron .container {
  max-width: 300rem;
}


#Mood {
  margin: 2px -15px;
}

.col-md-3{
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0;
}

.movieResultPhoto {
  width: 100%;
  height: 40%;
}

.moodText {
  font-size: 85%;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
o
footer p {
  margin-bottom: 0.25rem;
} 

.h1 {
  font-size: 40px; 
  font-family: 'Didact Gothic', sans-serif;

}

.p1{ 
  font-size:18px; 
  font-family: 'Didact Gothic', sans-serif; 
  margin-left: 2.5em;
  padding: 0 7em 2em 0;
  border-width: 2px;

} 

.p {
  font-size: 12px;  
  font-family: 'Didact Gothic', sans-serif;
}  

p4{ 
  font-size: 10px;  
  font-family: 'Didact Gothic', sans-serif;
}

.p4{ 
  font-size: 5px;  
  font-family: 'Didact Gothic', sans-serif;
} 

.btn-group button { 
  float: left;  
} 
 
div.indent {
  text-indent: 20%
} 

.tab {
  margin-left :2.5em; 
}


